body {
  position: relative;
}

#gh_ft_menu-container {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  z-index: 100;
}

#gh_ft_menu-container.hidden {
  display: none;
}

#gh_ft_menu-container .list-container {  
  background-color: var(--color-canvas-subtle);
}

#gh_ft_menu-container .list-container.hidden {
  display: nonw;
}

#gh_ft_menu-container #hamburger {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#gh_ft_menu-container #hamburger.loading {
  transition: all 2s ease-in-out;
  animation: pulser 2s infinite alternate;
}

@keyframes pulser {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

#gh_ft_menu-container #list {
  display: flex;
  flex-direction: column;
  z-index: 100;
  max-height: 30rem;
  overflow-y: scroll;
  border-radius: 8px;
  border: 2px solid black;
  width: 20rem;
}

#gh_ft_menu-container #list.hidden {
  display: none;
}

#gh_ft_menu-container #list .folder {
  border-top: var(--primer-borderWidth-thin, 1px) solid var(--color-border-muted);
  border-radius: 0;
}

#gh_ft_menu-container #list .folder,
#gh_ft_menu-container #list .gh-file {
  cursor: pointer;
}

#gh_ft_menu-container #list .folder-children {
  margin-left: 1rem;
}

#gh_ft_menu-container #list .folder-children.hidden {
  display: none;
}

#gh_ft_menu-container .folder-children .gh-file::before,
#gh_ft_menu-container .folder-children .folder::before {
  content: "∟";
  margin-right: 1rem;
}

#gh_ft_menu-container .folder-children .gh-file,
#gh_ft_menu-container .folder-children .folder {
  padding-left: 1rem;
}

#gh_ft_menu-container #menu.hidden {
  display: none;
}